.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profileCard {
  display: flex;
  justify-content:baseline;
  border: solid 1px;
  border-radius: 10px;
  border-color: #fff9f9;
  background-color: #fff9f9;
  box-shadow: 8px 8px #ece2e2;
  width: 40vh;
}

.ProfilePic {
  height: 200px;
  width: 200px;
  border-radius: 110px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
